<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/template/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          HR MANAGMENT
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav" id="filter">

          

          <li class="{{class_header_login}}">
            <a id="login" #in1 (click)="test_active(in1.id)"  class="nav-link" routerLink="/login">
              <i class="material-icons">lock_open</i>
              <p class="li1">login</p>
            </a>
          </li>

          
          <li class="{{class_header_meetings}}">
            <a  id="Ajouter client" #in5 (click)="test_active(in5.id)"  class="nav-link" routerLink="/mettings" >
              <i class="material-icons">live_tv</i>
              <p class="li1">Ajouter client</p>
            </a>
          </li>

          
          <li class="{{class_header_dashboard}}">
            <a  id="Ajouter facture" #in2 (click)="test_active(in2.id)"  class="nav-link" routerLink="/dashboard">
              <i class="material-icons">assignment_ind</i>
              <p class="li1">Ajouter facture</p>
            </a>
          </li>
          <li class="{{class_header_employees}}">
            <a id="Facture" #in3 (click)="test_active(in3.id)"  class="nav-link" routerLink="/employees">
              <i class="material-icons">euro_symbol</i>
              <p class="li1" >Facture</p>
            </a>
          </li>
          
        


        </ul>
      </div>
    </div>


    
    <div class="main-panel">


      <!-- loading component here -->

      <router-outlet></router-outlet>

    </div>


  </div>
  